<div class="{{classPrefix}}">
  <div class="{{classPrefix}}-shadow">
    <div class="{{classPrefix}}-container">
      <div class="{{classPrefix}}-arrow" data-role="arrow">
        <em></em>
        <span></span>
      </div>
      <div class="{{classPrefix}}-content" data-role="content">
      </div>
    </div>
  </div>
</div>
